.bg-midnight-green {
    background-color: #004953;
}

.bg-persian-green {
    background-color: #AAF0D1;
}

.bg-tea-green {
    background-color: #D0F0C0;
}

.bg-screaming-green {
    background-color: #76ff7a;
}

.bg-airforce-blue {
    background-color: #5D8AA8;
}

.bg-british-racing {
    background-color: #004225;
}

.bg-egg-blue {
    background-color: #1fcecb;
}

.bg-yinmin-blue {
    background-color: #2e5090;
}

.bg-dartmouth-green {
    background-color: #00693e;
}

.bg-sea-green {
    background-color: #2e8b57;
}

.bg-hookers-green {
    background-color: #49796b;
}

.bg-pine-green {
    background-color: #01796f;
}

.bg-my-green {
    background-color: #70d65c;
}