#filter-table {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

#no-filter-deletion {
    display: none;
}

#delete-cage {
    display: none;
    color: red;
}

#user-info {
    display: none;
}

#user-settings {
    display: none;
}

#login-btn {
    display: none;
}

#register-btn {
    display: none;
}

#logout-btn {
    display: none;
}

#my-profile-btn {
    display: none;
}

#pfp-password {
    -webkit-text-security: disc;
}

#form-submit {
    display: inline;
}

#form-submit-reset {
    display: inline;
}

#form-already-submitted {
    display: none;
}

#admin-submit-searcher {
    display: none;
}

#user-tab-submissions {
    text-decoration: none;
}

#spinner-submit {
    display: none;
}

#spinner-overwrite {
    display: none;
}

#spinner-register {
    display: none;
}

#spinner-login {
    display: none;
}