.bg-midnight-green {
    background-color: #004953;
}

.bg-persian-green {
    background-color: #AAF0D1;
}

.bg-tea-green {
    background-color: #D0F0C0;
}

.bg-screaming-green {
    background-color: #76ff7a;
}

.bg-airforce-blue {
    background-color: #5D8AA8;
}

.bg-british-racing {
    background-color: #004225;
}

.bg-egg-blue {
    background-color: #1fcecb;
}

.bg-yinmin-blue {
    background-color: #2e5090;
}

.bg-dartmouth-green {
    background-color: #00693e;
}

.bg-sea-green {
    background-color: #2e8b57;
}

.bg-hookers-green {
    background-color: #49796b;
}

.bg-pine-green {
    background-color: #01796f;
}

footer {
    margin-top: 50px;
    width: 100%;
    background: green;
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 100%;
    text-align: center;
    padding: 10px 10px;
}

.main-content .fab {
    color: #76ff7a;
}

.box h2 {
    font-size: 2.0rem;
    font-weight: 600;
    text-transform: uppercase;
}

.main-content .footer-content {
    font-size: 1.15rem;
}

.main-content .box .social {
    margin: 20px 0 0 0;
}

.main-content .box .social a {
    padding: 0 10px;
}

.main-content .box .social a span {
    height: 30px;
    width: 30px;
    background: #1a1a1a;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px;
    transition: all .3s ease-out;
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}

.main-content .box .social a span:hover {
    transition: all .3s ease-in;
    color: #00693e;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.extras {
    background: black;
    display: flex;
    padding: 5px 5px;
}

.extras .ft-rights {
    margin-top: 15px;
    flex-basis: 100%;
    color: white;
    font-size: 0.69rem;
    opacity: 50%;
    text-align: left;
    padding-left: 10px;
}

.extras .terms {
    margin-top: 15px;
    flex-basis: 100%;
    color: white;
    font-size: 0.69rem;
    opacity: 50%;
    text-align: right;
    padding-right: 10px;
}

.main-content .fa-arrow-alt-circle-up {
    margin-bottom: 10px;
    margin-top: 5px;
    color: black;
    font-size: 50px;
    transition: all .1s ease-out;
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}

.main-content .fa-arrow-alt-circle-up:hover {
    transition: all .1s ease-in;
    color: #616161;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

.form-verify {
    margin-top: 250px;
}

.zoom-in {
    overflow: hidden;
    transition: all .4s ease-out;
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}

.zoom-in:hover {
    transition: all .4s ease-in;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

#err-name {
    display: none;
    color: red;
}

#err-surname {
    display: none;
    color: red;
}

#err-email {
    display: none;
    color: red;
}

#err-dni {
    display: none;
    color: red;
}

#err-hours {
    display: none;
    color: red;
}

#err-sex {
    display: none;
    color: red;
}

#err-terms {
    display: none;
    color: red;
}

#err-overwrite {
    display: none;
    color: red;
}

#err-override-denied {
    display: none;
}

#filter-table {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.submit-btn {
    display: inline;
}

.submit-btn-overwrite {
    display: none;
}

#no-filter-deletion {
    display: none;
}

#delete-cage {
    display: none;
    color: red;
}

#dni-registry-delete-err {
    display: none;
}

#email-registry-delete-err {
    display: none;
}

#password-registry-delete-err {
    display: none;
}

#match-err {
    display: none;
}

#err-email-log {
    display: none;
}

#err-password-log {
    display: none;
}

#err-name-reg {
    display: none;
}

#err-surname-reg {
    display: none;
}

#err-email-reg {
    display: none;
}

#err-password-reg {
    display: none;
}

#err-password-2-reg {
    display: none;
}

#existing-acc-err {
    display: none;
}

.pswd-req {
    font-weight: bold;
}

.pswd-reqmnts {
    line-height: 1px;
}

.user-tab-active {
    color: white;
    background-color: #00a0d1;
}

.user-tab-standby {
    color: black;
}

.user-tab-standby:hover {
    color: grey;
    text-decoration: underline;
}

.list-group-item-main {
    background-color: #3b3b3b;
    color: white;
}

.list-group-item-content {
    background-color: #949494;
    color: black;
}

#user-info {
    display: none;
}

#user-settings {
    display: none;
}

#login-btn {
    display: none;
}

#register-btn {
    display: none;
}

#logout-btn {
    display: none;
}

#my-profile-btn {
    display: none;
}

#pfp-password {
    -webkit-text-security: disc;
}

#form-submit {
    display: inline;
}

#form-submit-reset {
    display: inline;
}

.form-submit-login-err {
    display: none;
    color: red;
}

#form-already-submitted {
    display: none;
}

#admin-submit-searcher {
    display: none;
}

#user-tab-submissions {
    text-decoration: none;
}

#change-pass-empty-err {
    display: none;
    color: red;
}

#change-pass-confirm-err {
    display: none;
    color: red;
}

#same-pass-err {
    display: none;
    color: red;
}

#invalid-pass-err {
    display: none;
}

#mismatch-err {
    display: none;
    margin-top: 15px;
}

.pfp-image {
    width: 15em;
    height: 15em;
}

#image-file-err {
    display: none;
}

#ext-file-err {
    display: none;
}

.rss-styling {
    transition: all .3s ease-out;
    color: #00693e;
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}

.rss-styling:hover {
    transition: all .3s ease-in;
    color: #00693e;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}